<!-- 邮箱验证码 -->
<div style="padding: 3em .75em 2em; background: #f1f5fa">
  <div style="max-width: 660px; margin: 0 auto;font-family: 'PingFangSC-Regular', 'Helvetica', 'SimHei', 'Arial', 'Microsoft YaHei', 'sans-serif';">
    <div style="max-width: 660px; margin: 0 auto;font-family: 'PingFangSC-Regular', 'Helvetica', 'SimHei', 'Arial', 'Microsoft YaHei', 'sans-serif';">
      <div style="box-shadow: 0px 0px 10px 0px rgba(11, 13, 18, 0.1); border-radius: 6px 6px 0 0; overflow: hidden;">
        <!-- <div style="height: 42px;padding: 50px 0 50px 60px;">
    <img src="<%= ViewHelper.logo_url %>" style="vertical-align: middle;" alt=""/>
  </div> -->
        <div style="padding: 2em 1em; background: #ffffff;font-size:16px;">


          <h2 style="font-size: 1.5em; color: rgb(39, 50, 77); font-weight: bold; line-height: 1.5; margin: 0;">
            <a href="https://www.metayz.club">【编程学习网】</a>验证码
          </h2>
          <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 1.5; margin: 18px 0 0 0;">
            亲爱的用户：
          </p>
          <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 1.5; margin: 12px 0 12px 0;">
            您的验证码为
            <span style="display:inline-block; color: #95b7e4;font-size:1.5em; font-weight: 700;"><%= @code %></span>
            请在30分钟内使用，如非本人操作，请忽略本邮件
          </p>

          <div style="height: 36px"></div>
          <p style="font-size: 1em; color: rgb(39, 50, 77); line-height: 28px; margin: 0;">
            <a href="https://www.douyin.com/user/MS4wLjABAAAADC0CnUZalfJRtNYl11UWEX6JS1K_9Rjo34BIqulhxDRtam94V3BmQlD4u1QWobUq">
              抖音：编程入门栋哥
            </a>
          </p>
        </div>
      </div>
      <p style="text-align: center; line-height: 1.5; padding: 15px; font-size: 0.75em; color: #999999;">© 2022 metayz.club 保留所有权利</p>
    </div>
  </div>
</div>
