<!DOCTYPE html>
<html>
  <head>
    <title>全栈工程师-1024计划</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="编程入门,ruby on rails,全栈,前端,后端,数据库,mysql,vue,html,js,css"/>
    <meta name="description" content="编程入门,ruby on rails,全栈,前端,后端,数据库,mysql,vue,html,js,css"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0,viewport-fit=cover">
    <%#= csrf_meta_tags %>
    <%#= csp_meta_tag %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
